# Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# Import Data

In [9]:
path = r'/Users/rusamijan/03-2023 Instacart Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
df_ords_up=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_checked.csv'), index_col = False)

In [5]:
df_ords_up.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [6]:
df_ords_up = df_ords_up.drop(columns = ['Unnamed: 0'])

In [8]:
df_ords_up.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
df_ords_up.shape

(3421083, 6)

In [11]:
df_ords_prior.shape

(32434489, 4)

# Merging 2 datas (df_ords_prior and df_ords_up)

In [12]:
df_merged_large = df_ords_up.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_merged_large = df_ords_up.merge(df_ords_prior, on = 'order_id', how='outer', indicator = True)

# Check if they are full match...they are not but it's ok for this exercise

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

# Export to pickle with a new name "orders_products_combined"

In [17]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# Import pkl file

In [19]:
df_ords_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [20]:
df_ords_prod_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

# Import product

In [21]:
df_prod_up=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [25]:
df_prod_up = df_prod_up.drop(columns = ['Unnamed: 0'])

In [26]:
df_prod_up.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

    we can merge df_ords_prod_comb and df_prod_up with the product_id

# Observation

In [27]:
df_prod_up.shape

(49672, 5)

In [28]:
df_ords_prod_comb.shape

(32640698, 10)

# Drop _merge

In [ ]:
# Drop '_merge' column for df_orders_products_combined
df_ords_prod_comb = df_ords_prod_comb.drop(columns = ['_merge'])

In [30]:
df_ords_prod_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0

# Merging both data with product_id

In [31]:
df_merged = df_ords_prod_comb.merge(df_prod_up, on = 'product_id', indicator = True)

In [32]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

# Check after merge two data that they are full match or not

In [33]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [34]:
df_merged.shape

(32404859, 14)

# Export df_merged to 'orders_products_merged'

In [35]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))